@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a, input, button {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-image: url(./img/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #202027;
  box-sizing: border-box;
  position: relative;
}
.header__box {
  padding-top: 196px;
  padding-bottom: 246px;
  max-width: 769px;
}
.header__title {
  font-size: 4rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}
.header__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 3rem;
  max-width: 720px;
}
.header__button {
  background-color: #202027;
  border: 1px solid #202027;
  border-radius: 60px;
  box-sizing: border-box;
  padding: 16px 65px;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 100%;
  color: #FFFFFF;
  transition: all 1s;
  cursor: pointer;
}
.header__button:hover {
  background-color: white;
  color: #000000;
}
.header__scrollbar {
  background-image: url(./img/header_scrollbar.jpg);
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: scrollLeft 5s linear infinite;
}

@keyframes scrollLeft {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: 100% center;
  }
}
.about-game {
  background-image: url(./img/Game1-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}
.about-game__box {
  padding-bottom: 50px;
  padding-top: 94px;
}
.about-game__title {
  font-size: 4rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
  color: #FFFFFF;
}
.about-game__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 4.5rem;
  max-width: 788px;
  color: #FFFFFF;
}

.about-game__content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.game__1 {
  grid-column: 1;
  grid-row: 1;
  /* Низкая карточка */
  height: 473px; /* Примерная высота */
}

.game__2 {
  grid-column: 2;
  grid-row: 1/3;
  /* Высокая карточка, занимает 2 строки */
  height: 512px; /* Растягивается на всю высоту */
  align-self: start;
}

.game__3 {
  grid-column: 3;
  grid-row: 1;
  /* Низкая карточка */
  height: 473px; /* Примерная высота */
}

.game__4 {
  grid-column: 1;
  grid-row: 2;
  /* Высокая карточка, под первой */
  height: 551px; /* Пропорционально выше 1-й */
  align-self: end; /* Прижимаем к нижней границе */
}

.game__5 {
  grid-column: 2;
  grid-row: 2;
  /* Высокая карточка, та же высота что и 2-я */
  height: 512px;
  align-self: end;
}

.game__6 {
  grid-column: 3;
  grid-row: 2;
  /* Высокая карточка, под третьей */
  height: 551px; /* Пропорционально выше 3-й */
  align-self: end; /* Прижимаем к нижней границе */
}

.game {
  border-radius: 30px;
  background-color: #FFFFFF;
  transition: all 1s;
}
.game__img {
  height: 314px;
  width: 100%;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.game__img_1 {
  background-image: url(./img/product1.jpg);
}
.game__img_2 {
  background-image: url(./img/product2.jpg);
}
.game__img_3 {
  background-image: url(./img/product3.jpg);
}
.game__img_4 {
  background-image: url(./img/product4.jpg);
}
.game__img_5 {
  background-image: url(./img/product5.jpg);
}
.game__img_6 {
  background-image: url(./img/product6.jpg);
}
.game__text {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 314px;
}
.game__number {
  background-color: #F7F7F7;
  border-radius: 52px;
  font-size: 1rem;
  color: #202027;
  font-weight: 500;
  width: 108px;
  line-height: 100%;
  padding: 10px 16px;
  white-space: nowrap;
}
.game__name {
  font-size: 2rem;
  font-weight: 700;
  color: #202027;
  width: 314px;
}
.game__1:hover {
  transform: scale(1.1);
}
.game__2:hover {
  transform: scale(1.1);
}
.game__3:hover {
  transform: scale(1.1);
}
.game__4:hover {
  transform: scale(1.1);
}
.game__5:hover {
  transform: scale(1.1);
}
.game__6:hover {
  transform: scale(1.1);
}

.games-mini {
  background-image: url(./img/Games_mini-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}
.games-mini__box {
  padding-top: 46px;
  padding-bottom: 144px;
}
.games-mini__title {
  font-size: 4rem;
  font-weight: 700;
  padding-bottom: 4.5rem;
  color: #FFFFFF;
}

.games-mini__content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.game-mini {
  grid-column: span 12;
  border-radius: 30px;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.game-mini__title {
  grid-column: span 6;
  padding-top: 48px;
  padding-right: 48px;
  padding-left: 48px;
  order: 1;
}
.game-mini__img {
  grid-column: span 6;
  order: 2;
  height: 500px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}
.game-mini:nth-child(2n) .game-mini__title {
  order: 2;
}
.game-mini:nth-child(2n) .game-mini__img {
  order: 1;
}
.game-mini__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 36px;
}
.game-mini__name {
  font-size: 3rem;
  font-weight: 700;
}
.game-mini__description {
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 457px;
  line-height: 32px;
}
.game-mini__button {
  background-color: #202027;
  border: 1px solid #202027;
  border-radius: 60px;
  box-sizing: border-box;
  padding: 16px 75px;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 100%;
  color: #FFFFFF;
  transition: all 1s;
  cursor: pointer;
}
.game-mini__button:hover {
  background-color: white;
  color: #000000;
}
.game-mini__img_1 {
  background-image: url(./img/product1.jpg);
}
.game-mini__img_2 {
  background-image: url(./img/product2.jpg);
}
.game-mini__img_3 {
  background-image: url(./img/product3.jpg);
}
.game-mini__img_4 {
  background-image: url(./img/product4.jpg);
}
.game-mini__img_5 {
  background-image: url(./img/product5.jpg);
}
.game-mini__img_6 {
  background-image: url(./img/product6.jpg);
}

.footer {
  background-color: #BDED35;
}
.footer__text {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .about-game__content {
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(2, 1fr);
  }
  .game__1 {
    grid-column: 1;
    grid-row: 1;
    /* Низкая карточка */
    height: 512px; /* Примерная высота */
  }
  .game__2 {
    grid-column: 2;
    grid-row: 1;
    /* Высокая карточка, занимает 2 строки */
    height: 512px; /* Растягивается на всю высоту */
  }
  .game__3 {
    grid-column: 1;
    grid-row: 2;
    /* Низкая карточка */
    height: 512px; /* Примерная высота */
  }
  .game__4 {
    grid-column: 2;
    grid-row: 2;
    /* Высокая карточка, под первой */
    height: 512px; /* Пропорционально выше 1-й */
  }
  .game__5 {
    grid-column: 1;
    grid-row: 3;
    /* Высокая карточка, та же высота что и 2-я */
    height: 512px;
  }
  .game__6 {
    grid-column: 2;
    grid-row: 3;
    /* Высокая карточка, под третьей */
    height: 512px; /* Пропорционально выше 3-й */
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    background-image: url(./img/header_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .header__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 147px;
    padding-bottom: 182px;
  }
  .header__title {
    font-size: 2.5rem;
    text-align: center;
    max-width: 262px;
  }
  .header__subtitle {
    font-size: 1rem;
    padding-bottom: 2.25rem;
    text-align: center;
  }
  .header__button {
    background-color: #202027;
    border: 1px solid #202027;
    box-sizing: border-box;
    padding: 16px 103px;
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;
  }
  .header__scrollbar {
    animation: scrollLeft 15s linear infinite;
  }
  .about-game {
    display: none;
  }
  .games-mini__box {
    padding-top: 48px;
    padding-bottom: 10px;
  }
  .games-mini__title {
    font-size: 2.5rem;
    padding-bottom: 3rem;
  }
  .games-mini__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .game-mini {
    display: flex;
    flex-direction: column;
  }
  .game-mini__title {
    order: 2; /* Заголовок будет снизу */
    padding: 29px;
    grid-column: span 4;
  }
  .game-mini__img {
    order: 1; /* Изображение будет сверху */
    height: 300px; /* Уменьшаем высоту для мобильной версии */
    grid-column: span 4;
  }
  .game-mini__text {
    padding-bottom: 2rem;
    gap: 1rem;
  }
  .game-mini__name {
    font-size: 2rem;
  }
  .game-mini__description {
    font-size: 1rem;
    max-width: 100%;
  }
  .game-mini__button {
    padding: 16px 110px;
    font-size: 1rem;
    width: 100%;
    line-height: 142%;
  }
  .footer__text {
    font-size: 1rem;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */